@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StudentPortal.Models.Entites.Student>

<h1>---Students List---</h1>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phone-No</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model){
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.PhoneNo</td>
                <td class="btn btn-primary">
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    </td>
                <td class="btn btn-outline-danger"><a asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a></td>
            </tr>
        }
    </tbody>

</table>